:root {
    --color-1: hsl(238, 40%, 52%);
    --color-2: hsl(358, 79%, 66%);
    --color-3: hsl(357, 100%, 86%);
    --color-4: hsl(239, 57%, 85%);
    --color-5: hsl(223, 19%, 93%);
    --color-primary: var(--color-1);
    --color-danger: var(--color-2);

    --color-6: hsl(212, 24%, 26%);
    --color-7: hsl(211, 10%, 45%);
    --color-8: hsl(223, 19%, 93%);
    --color-9: hsl(228, 33%, 97%);
    --color-10: hsl(0, 0%, 100%);
    --color-white: var(var(--color-10));
}

body {
    background-color: var(--color-9);
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px var(--color-8);
    background-color: var(--color-10);
    position: relative;
    padding-bottom: 5rem;
}

.comment__votes {
    color: var(--color-1);
    font-weight: 500;
    text-align: center;
    max-width: 6rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.comment__votes button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-4);
    width: 1em;
    height: 1em;
}

.comment__votes button svg {
    fill: currentColor;
}

.comment__votes button:hover {
    color: var(--color-1);
}

.comment__vote_plus {
    /* margin-top: 0.25rem; */
}

.comment__vote_minus {
    /* margin-bottom: 0.25rem; */
}

.comment__up_down_vote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-9);
    gap: 0.75rem;
    padding: .5rem;
    border-radius: 10px;
}

.comment__up_down_vote button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}



.comment__score {
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
}

.comment__score sup {
    font-size: .5em;
}

svg {
    width: 1em;
    fill: currentColor;
}

.comment__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.comment__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    width: 100%;
}

.comment__header>.comment__avatar {
    width: 2rem;
    height: 2rem;
}

.comment__header>.comment__avatar img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.comment__header>.comment__author {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-6);
}

.comment__header>.comment__author_self {
    background-color: var(--color-1);
    color: var(--color-8);
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
}

.comment__header>.comment__date {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--color-7);
}

.comment__body {
    color: var(--color-7);
}

.comment__body a.replingto{
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
}

.comment__actions {
    margin-left: auto;
    display: flex;
    gap: .5rem;
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    padding: .5rem;
}

.comment__actions svg {
    fill: currentColor;
}

.comment__actions > button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.comment__action--reply {
    display: flex;
    gap: 0.35rem;
    font-size: 1rem;
    color: var(--color-1);
    font-weight: 500;
}

.comment__action--reply:hover {
    color: var(--color-4)
}

.comment__action--delete {
    display: flex;
    gap: 0.35rem;
    font-size: 1rem;
    color: var(--color-2);
    font-weight: 500;
}

.comment__action--delete:hover {
    color: var(--color-3)
}

.comment__replies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-left: 1.25rem;
    /* margin-left: 1.25rem; */
    border-left: 1px solid var(--color-8);
}

@media (min-width: 768px) {
    .comment__votes {
        top: 1rem;
        bottom: auto;
    }

    .comment__actions {
        top: 1rem;
        bottom: auto;
    }

    .comment__up_down_vote {
        display: flex;
        flex-direction: column;
    }

    .comment {
        padding-bottom: 1rem;
    }
    .comment__content {
        padding-left: 3.5rem;
    }

    .comment__replies {
        margin-left: 1.25rem;
    }
}